/* Edicion de cuerpo y header para todas las paginas por igual */
#logo {
    max-width: 60px; max-height: 60px;
    padding: 0px; border: 1px solid black; margin: 10px; 
}
body {
    background-color: rgb(255, 136, 0);
}
.subtitulos {
    font-family: cursive;}

/* Pag principal*/
.titulo {
    font-size: 200%;
    font-family: cursive;
    padding: 1rem; border: 1px solid black; margin: 3rem; margin-top: 3rem;
    background-color: orange;
    display: flex;
    justify-content: center;
}
.video {
    margin: 2rem auto; 
    max-width: "560";
}

/* Pag resumen */
#logo2 {
    max-width: 300px; max-height: 200px;
    margin: 2rem;
}
#fondodebikini {
    max-width: 300px; max-height: 400px;  margin: 2rem;
}
#casadebob {
    max-width: 300px; max-height: 400px;  margin: 2rem;
}
#crustaceocascarudo {
    max-width: 300px; max-height: 400px;  margin: 2rem;
}

/* Pag personajes*/
#bob {
    max-width: 300px; max-height: 400px;
}
#patricio {
    max-width: 300px; max-height: 400px;
}
#don-cangrejo {
    max-width: 300px; max-height: 400px;
}
#arenita {
    max-width: 300px; max-height: 400px;
}
#gary {
    max-width: 300px; max-height: 300px;
}
#plankton {
    max-width: 300px; max-height: 400px;
}
#calamardo {
    max-width: 300px; max-height: 400px;
}
.personajes {
    margin: 2rem;
    max-width: 1400px;
}
@media screen and (max-width: 1170px) {
    .personajes {
        display: grid;
        grid-template-areas:'bob patricio calamardo'
                            'cangrejo arenita gary'
                            'plankton none none';
        justify-content: center;
    }
}

@media screen and (max-width: 800px) {
    .personajes {
        display: grid;
        grid-template-areas:'bob patricio'
                            'calamardo cangrejo'
                            'arenita gary'
                            'plankton none';
        justify-content: center;
        max-width: 700px;
    }
}

@media screen and (max-width: 600px) {
    .personajes {
        display: grid;
        grid-template-areas:'bob' 'patricio'
                            'calamardo' 'cangrejo'
                            'arenita' 'gary'
                            'plankton';
        justify-content: center;
        max-width: 300px;
    }
}

.letra {
    margin: 1re, auto;
    display: flex;
    justify-content: center;
}
.audio {
    margin: 1rem ;
    display: flex;
    justify-content: center;
}